@font-face {
  font-family: 'Bravura';
  src: url('../fonts/Bravura.woff') format('woff'), /* Modern Browsers */
       url('../Bravura.svg#Bravura') format('svg'); /* Legacy iOS */
}
.pitch {
  font-size:40px;
  min-width:60px;
}
.octave {
  font-size:20px;
}
.beam {
  font-size:20px;
}
.duration {
  font-family:Bravura;
  font-size:20px;
}
.accidental {
  font-family:Bravura;
  font-size:20px;
}
.dynamic {
  font-family:Bravura;
  font-size:20px;
}
.barline {
  /*font-family:Bravura;
  font-size:20px;*/
  font-size:40px;
}
